.background{
  background-color: black;
  height: 100vh;   
  text-align: center;
}

.Showcase{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: gainsboro;
    color: black;
    border-radius: 5px;
    width: 30%;
    margin: 60px auto;

}
.seat{
    background-color: gray;
    width: 15px;
    height: 12px;
    display: inline-block;

}

.seatselected{
  background-color: red;
}
.seatoccupied{
  background-color: white;
}
.Showcase li{
  margin: 0px 12px;
}